@import './fonts';

$fontBold: Montserrat-Bold;
$fontRegular: Montserrat-Regular;
$fontMedium: Montserrat-Medium;
$fontLight: Montserrat-Light;

$fontColor: #fff;
$whiteColor: #fff;
$grayColor: #6e6e6e;
$blackColor: #000;

$bodyBackgroundColor: linear-gradient(180deg, #0C0C24 0%, #251D34 100%);
$navbarBackgroundColor: #ffffff;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $bodyBackgroundColor;
  color: $whiteColor;
  font-family: $fontRegular;
}

input{
  padding-left: 15px;
  padding-right: 15px;
  font-family: $fontMedium;
}
input:hover{
  transform: scale(1.05);
}

textarea{
  font-family: $fontMedium;
  font-size: 16px;
  padding: 10px 0 10px 15px;
}
textarea:hover{
  transform: scale(1.02);
}

select{
  color: $grayColor;
  font-family: $fontMedium;
  & option{
    font-size: 13px;
  }
}

a{
  text-decoration: none;
}

h2{
  margin: 0;
  padding: 0;
}