.review{
  display: flex;
  justify-content: center;
  &__block{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
  &__city{
    margin-left: 10px;
  }
  &__choose{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
  }
  &__counterAndCity{
    display: flex;
    margin-bottom: 5%;
    justify-content: space-between;
  }
  &__advantages{
    margin-bottom: 5%;
  }
  &__disadvantages{
    margin-bottom: 5%;
  }
  &__likeBlock{
    background-color: white;
    width: 13%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
  }
}

.item-review{
  &__label{
    font-size: 25px;
    padding-bottom: 20px;
  }
  &__inputLabel{
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__inputCompany{
    input{
      width: 96%;
      height: 40px;
      padding-right: 0;
      border-radius: 10px;
    }
  }
  &__miniInput{
    input{
      padding-right: 0;
      height: 40px;
      border-radius: 10px;
    }
  }
  &__commentInput{
    textarea{
      resize: vertical;
      border-radius: 10px;
      width: 96%;
      height: 150px;
    }
  }
  &__button{
    margin-top: 5%;
    input{
      width: 40%;
      height: 40px;
      border-radius: 10px;
      border: 0px solid;
      background-color: #4263f3;
      color: white;
      font-size: 15px;
    }
  }
}